# Node.js
node_modules/
.env
package-lock.json
npm-debug.log
yarn.lock
dist/
build/

# React (Frontend)
.DS_Store
.cache/
*.log
.vscode/
.next/
out/
coverage/
.env

# Backend (Express, MongoDB)
*.log
logs/
dump.rdb
*.sqlite
*.sqlite3
__pycache__/
.mongod.lock
*.pid

# ESP32 (PlatformIO, Arduino)
.pio/
.pioenvs/
*.bin
*.elf
*.hex
*.o
*.pyc
*.cpp.o
sdkconfig
sdkconfig.old

# IDE / Editor Files
.vscode/
.idea/

#python lpr
# Environnement virtuel
lpr-tn-venv/

# Fichiers temporaires Python
__pycache__/
*.pyc
*.pyo

# Images générées

# Fichiers de détection ou résultats
output.jpg
Licence_Plate_extracted.jpg

# Fichiers de modèles volumineux (optionnel selon ton cas)
*.weights
*.h5

# Dossiers d'upload
uploads/

# VSCode
.vscode/



